## This is an advancing demand analysis. 
### Author: Ziyu Li; 
copyright: 2024;
Contact: ziyu@wisc.edu

In [8]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
DataDir = r'C:\Users\11752\Documents\GitHub\ManagerialEconomics\pythonProject\.idea\inspectionProfiles'
df_retail = pd.read_csv(DataDir+ '/RETAIL_DATA.csv', sep='|')
df_retail.head()
df_retail.describe()

       STORE_ID,PRICE,QUANTITY,REVENUE,AVERAGE_LENGTH_OF_RESIDENCE,PERCENTAGE_OF_RENTERS,PERCENT_HAVING_CHILDREN,AVERAGE_INCOME,AVERAGE_AGE_IN_YEARS,PERCENT_SPEAKING_SPANISH
count                                                 291
unique                                                291
top     177473,7.5,95104,713280,6.957723614,0.04009759...
freq                                                    1

In [9]:
pd_datax = pd.read_csv("RETAIL_DATA.csv")

df_retail = pd_datax
df_retail.head()

,STORE_ID,PRICE,QUANTITY,REVENUE,AVERAGE_LENGTH_OF_RESIDENCE,PERCENTAGE_OF_RENTERS,PERCENT_HAVING_CHILDREN,AVERAGE_INCOME,AVERAGE_AGE_IN_YEARS,PERCENT_SPEAKING_SPANISH
0,177473,7.50,95104,713280.00,6.957724,0.040098,0.415678,39039.66460,49.708995,0.323440
1,177467,7.49,94961,711257.89,7.209142,0.051941,0.420110,42950.23923,49.504370,0.433273
2,177472,7.50,94564,709230.00,7.348958,0.053306,0.342731,34162.14843,52.838249,0.129077
3,177484,7.51,94168,707201.68,6.742886,0.058151,0.363525,50627.98391,51.380222,0.194453
4,177483,7.51,93898,705173.98,6.854883,0.038819,0.402359,46708.18393,49.721780,0.282138